body{
    color: white;
    background: rgb(192, 225, 255);
}
h3{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: black;
    width: 350px;
    height: 300px;
}
#result_of_objects, #result_of_accuracy{
    color: rgb(0, 255, 242);
}